body
{
   background-image: url("Pic.JPG");
   background-blend-mode: normal;
   background-color: rgb(255, 245, 217);
   background-size: auto;
   background-position: right;
   background-repeat: no-repeat;
}
#main
{
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:rgb(255, 145, 77);
   font-size: 22pt;
   color:rgb(255, 145, 77);
   text-decoration: underline;
   text-decoration-color: rgb(255, 145, 77);
}
#headings
{
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:rgb(255, 145, 77);
   text-decoration-color: rgb(255, 145, 77);
}
p1
{
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:rgba(255, 145, 77, 0.808);
   text-decoration-color: rgb(255, 145, 77);
}
#links:hover 
{
   size: auto;
   color: black;
}
/* unvisited link */
#links:link {
   color: red;
 }
 
 /* visited link */
 #linksa:visited {
   color: green;
 }
 /* selected link */
 #links:active {
   color: rgb(255, 145, 77);
 }